Source: confluent-common
Section: misc
Priority: optional
Maintainer: Ewen Cheslack-Postava <ewen@confluent.io>
Build-Depends: debhelper (>= 9), java6-jdk, javahelper (>= 0.40),
 make, maven
Standards-Version: 3.9.3
Homepage: http://confluent.io

Package: confluent-common
Architecture: all
Description: Confluent utilites for Java
 Confluent Common is a set of utilities for writing Java services
